name: Latest Blog Post Workflow

on:
  schedule:
    # 自动运行时间：每 6 小时
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          # 注意：with 必须比 uses 往后缩进两个空格
          feed_list: "https://blog.wildsaltlab.com/rss.xml,https://wildsaltlab.com/feed.xml"
          user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36"
          max_post_count: 5
          template: "- [$title]($url)"
